<div class="site-wrapper">
	<div class="site-header">
		<div class="site-header-left">
			<p class="title-text">FLAMEWAR</p>
		</div>
		<div class="site-header-right">
			<button class="logout-button">Logout</button>
		
		</div>
	</div>
	<div class="site-left-column">
		<button class="left-column-button">Profile</button>
		<button class="left-column-button">Posts</button>
		<button class="left-column-button">Feed?</button>
		<p>all buttons in the column render pages into the right column</p>
	</div>
	<div class="site-right-column">
	<p>all pages on the site render here</p>
		<%=yield%>
	</div>
	<div class="site-footer">
		<p>Copyright 1971 - Pierre Cosmybladrzhempti</p>
	</div>
</div>